/* banner */
.heroImage {
    background-image: linear-gradient(to top, rgba(53, 53, 74, 0.5) 0%, rgba(53, 53, 74, 0.7) 75%, rgba(53, 53, 74, 0.9) 100%), url(../../public/home-banner.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroText {
    text-align: start;
    position: absolute;
    width: 30%;
    top: 50%;
    left: 22%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #FFFFFF;
    padding: 40px 30px;
}


/* pricingCard */
.pricingCard {
    background: #fff;
    -webkit-box-shadow: 0 3px 10px #888;
    box-shadow: 0 3px 10px #888;
    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.pricingCard:hover {
    box-shadow: 0 7px 5px #888;
    z-index: 1;
}



/* why-choose-us */
.parallaxContainer {
    overflow: hidden;
    position: relative;
}

.parallaxBackground {
    background-image: linear-gradient(to top, rgba(53, 53, 74, 0.75) 0%, rgba(53, 53, 74, 0.7) 75%, rgba(53, 53, 74, 0.9) 100%), url(../../public/choose-us/parallax-banner.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* This is the key property for parallax */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100% !important;
    position: absolute;
    left: 0;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: start;
}


/* info-section */
.infoParallaxContainer {
    overflow: hidden;
    position: relative;
}

.infoParallaxBackground {
    background-image: linear-gradient(to top, rgba(6, 21, 66, 0.75) 90%, rgba(4, 25, 60, 0.75) 95%, rgba(4, 31, 85, 0.75) 90%), url(../../public/page-info-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    /* This is the key property for parallax */
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100% !important;
    position: absolute;
    left: 0;
    z-index: -1;
}

.infoContent {
    position: relative;
    z-index: 1;
    text-align: start;
    display: flex;
    justify-content: start;
    align-items: start;


    /* WHAT PEOPLE SAY */
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


/* project-page */
.projectCardContainer {
    position: relative;
    /* max-width: 300px; */
    overflow: hidden;
}


.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.projectCardContainer:hover .overlay {
    opacity: 1;
}


@media (max-width: 34em) {

    .header{
        position: fixed !important;
    }
    .heroImage {
        background-image: linear-gradient(to top, rgba(53, 53, 74, 0.5) 0%, rgba(53, 53, 74, 0.7) 75%, rgba(53, 53, 74, 0.9) 100%), url(../../public/home-banner.jpg);
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .heroText {
        text-align: start;
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: #FFFFFF;
        padding: 45px 25px;
    }
}